* {
    box-sizing: border-box;
}

body {
    /* background-color: black; */
}

h1 {
    color: white;
}

.ball {
    height: 100px;
    width: 100px;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border-radius: 50%;
    background-color: lightsalmon;
    transition: 1s;

    font-size: 22px;
    font-weight: bold;
}